<%- include('./partials/header.ejs') %>
<div class="container">
<div class="row">
<div class="col-4">
  <a href="/members">Lumin8</a>
</div>
<div class="col-8">
    <a href="/members/new">Add a New Member</a>
<form action="" method="POST">
<input type="search" id="search" name="search" placeholder="search">
</form>
  <span>
    <a href="/members/<%=member.id%>/edit"> <button>EDIT</button></a>
  </span>
  <form action="/members/<%=member.id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE"/>
  </form>
<table>
<tr>
<th>
 <img src="<%=member.img%>" width="150px">
 <h6><%= member.contact %></h6>
</th>
<th>
<h4><%= member.name %></h4>
<h6><%= member.title %></h6>
<h6><%= member.location %></h6>
  <p><%= member.bio %></p>
  <% for(let j = 0; j < member.tags.length; j++){%>
    <span class="badge bg-secondary"><%= member.tags[j] %></span>
  <%}%>
</th>
<th>
<h6>Accomplishments</h6>
<ul>
  <% for(let k =0; k < member.accomplishments.length; k++){%>
  <li><%= member.accomplishments[k] %></li>
<%}%>
</ul>
</th>
</tr>
</table>
</div>
</div>
</div>
<%- include('./partials/footer.ejs')%>
